/* variables.css */
:root {
  /* Spacer */
  --space-xs: 5px;
  --space-s: 10px;
  --space-m: 15px;
  --space-l: 20px;
  --space-xl: 25px;
  --space-xxl: 30px;
  /* Fonts */
  --font-size-xs: 10px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  /* Radius */
  --radius: 4px;
  /* Blocs sizes */
  --header-h: 80px;
}
